<div class="card">
  <p-table [value]="articulos" [tableStyle]="{'min-width': '50rem'}" [styleClass]="'p-datatable-sm'">
      <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
              Articulos
          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th>Codigo</th>
              <th>Descripcion</th>
              <th>Precio</th>
              <th>Imagen</th>
              <th>Stock</th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-articulo>
          <tr>
              <td>{{articulo.codigo}}</td>
              <td>{{articulo.descripcion}}</td>
              <td>{{articulo.precio | currency:'MX'}}</td>
              <td><img src="data:image/jpg;base64,{{articulo.imagen}}" width="100" class="shadow-4" /></td>
              <td>{{articulo.stock}}</td>
              <td>
                <p-button [routerLink]="['/home/articulos/form', articulo.id]" icon="pi pi-file-edit" styleClass="p-button-rounded p-button-help p-button-text"></p-button>
                <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-help p-button-text" (onClick)="confirmDelete(articulo.id)"></p-button>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
              {{articulos ? articulos.length : 0 }} articulos.
          </div>
      </ng-template>
  </p-table>
</div>

<p-confirmDialog #cd [style]="{width: '25vw'}"> 
    <ng-template pTemplate="footer">
        <button type="button" pButton
            icon="pi pi-times" label="Cancelar"
            class="p-button-rounded"
            (click)="cd.reject()">
        </button>
       
        <button type="button" pButton
            icon="pi pi-trash" label="Eliminar"
            class="p-button-rounded p-button-danger"
            (click)="cd.accept()">
        </button>
    </ng-template>
</p-confirmDialog>
<p-toast></p-toast>