<p-dialog [(visible)]="visible" [modal]="true" [draggable]="false" [resizable]="false" [closable]="false" [header]="'Cuenta de Usuario'">
  <form class="p-fluid grid" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field col-12 md:col-12">
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input type="text" placeholder="Nombre de usuario" pInputText formControlName="userName" class="p-inputtext-sm" /> 
      </span>
    </div>
    <div class="field col-12 md:col-12">
      <span class="p-input-icon-left">
        <i class="pi pi-lock"></i>
        <p-password formControlName="password" class="p-inputtext-sm"></p-password>
      </span>
    </div>
    <div class="field col-12 md:col-12">
      <span class="p-float-label">
        <button pButton label="Iniciar Sesion" class="p-button-rounded" ></button>
      </span>
    </div>
   </form>
</p-dialog>
<p-toast></p-toast>